p{
    /* réglage mobile et + */
    font-family: Roboto; sans-serif;
    font-size:16px;
  }
  @media screen and (min-width:767.98px){
    p{
     /* réglage à partir de 768px et + : corps un peu plus grand et même typo */
      font-size:21px;
    }
  }