@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.titlefooter {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-family: "Shrikhand", cursive;
}

button.btn {
  min-height: 2.2rem;
  text-align: center;
  border-radius: 2em 2em 2em 2em;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

button.btn2 {
  min-height: 2.2rem;
  text-align: center;
  border-radius: 2em 2em 2em 2em;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  color: white;
  cursor: pointer;
}

footer {
  background-color: #3b3b3b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
footer .titlefooter {
  font-size: 18px;
}
footer li {
  list-style-type: none;
  padding-top: 0.5em;
}
footer .fa-utensils:before {
  content: "";
  padding-right: 1em;
}
footer .fa-hands-helping:before {
  content: "";
  padding-right: 0.6em;
}

.nav__li:hover {
  transform: scale(1.02);
  transition-duration: 0.05s;
  color: #9356DC;
  background-color: #f5edff;
}
.nav__li:hover .fas fa-mobile-alt {
  color: #9356DC;
}
.nav__li:hover .fas fa-list-ul {
  color: #9356DC;
}
.nav__li:hover .fas fa-store {
  color: #9356DC;
}

.card__img:hover {
  transform: scale(1.02);
  transition-duration: 0.05s;
}

button:hover {
  transform: scale(1.02);
  transition-duration: 0.05s;
}

.fa-heart:before:hover {
  background: -webkit-linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*---------------------------------------------------Animation card---------------------------------------------------------------------*/
.card-menu {
  animation: fadein 0.5s ease-in-out;
}

.entrees {
  animation: fadein 1s ease-in-out;
}

.plats {
  animation: fadein 1.5s ease-in-out;
}

.desserts {
  animation: fadein 2s ease-in-out;
}

.fadein1 {
  animation: fadein 2s ease-in-out;
}

.fadein2 {
  animation: fadein 2.5s ease-in-out;
}

.fadein3 {
  animation: fadein 3s ease-in-out;
}

.fadein4 {
  animation: fadein 3.5s ease-in-out;
}

/*-----------Animation checkbox---------------*/
.card-menu :hover .checkbox {
  opacity: 1;
  transform: translate(-50px);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 5px;
  height: 30px;
  border-radius: 0px 1.5em 1.5em 0px;
  position: absolute;
  padding: 20px;
  top: 0;
  opacity: 0;
  right: -50px;
  transition: transform 332ms ease-in-out;
}

.checkbox .fa-check-circle {
  text-align: center;
  font-size: 2em;
  color: #fff;
  transition: transform 502ms ease-in-out;
}

.card-menu :hover {
  padding-right: 75px;
}

.card-menu :hover .checkbox {
  opacity: 1;
  transform: translate(-50px);
}

.card-menu :hover .fa-check-circle {
  transform: rotate(360deg);
}

.card-menu :hover .price {
  font-weight: bold;
}

.card-menu :hover {
  padding-right: 70px;
}

.loader__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  background-color: #f5ddf5;
  animation: loader 0.01s;
  animation-delay: 1.72s;
  animation-fill-mode: both;
}

.loader__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
}

.loader__piece {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  animation: rond 2s;
  animation-iteration-count: 1;
}

.loader__piece--a {
  background: #FF79DA;
}

.loader__piece--b {
  background: #9356DC;
  animation-delay: 0.3s;
}

.loader__piece--c {
  background: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rond {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 991.98px) {
  .navigation {
    display: flex;
    flex-direction: row;
  }

  .nav__li {
    display: flex;
    width: 40%;
  }

  .resto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .resto2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .section-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .section-menu .card-menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
  }
}
/*----- Animation page resto----*/
@keyframes card-menu {
  0% {
    opacity: 0;
    z-index: -1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    z-index: 0;
    transform: translateY(0);
  }
}
@keyframes fadein {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*----HEADER-----*/
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 10px;
}
header .localisation__heading {
  background-color: #eaeaea;
  padding-top: 1px;
  padding-bottom: 1px;
}
header .localisation__heading h3 {
  padding-top: 1em;
  margin-top: 0em;
  color: #3b3b3b;
  padding-right: 1em;
}
header .localisation__heading .fa-map-marker-alt:before {
  content: "";
  padding-right: 1em;
  color: #3b3b3b;
}
header .header-background {
  background-color: #f6f6f6;
  margin-top: -0.5em;
}
header .title1er {
  padding-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}
header .description p {
  color: gray;
}
header .explorer {
  padding-bottom: 3em;
  padding-top: 1em;
}

.navigation {
  padding-top: 2em;
}
.navigation .title2e {
  padding-left: 1em;
}
.navigation .nav__li {
  display: flex;
  margin: 1em;
  min-height: 2.2rem;
  text-align: center;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  padding-left: 1rem;
  padding-bottom: 12px;
  padding-top: 25px;
  background-color: #f6f6f6;
  border: none;
  box-shadow: 0px 4px 8px lightgrey;
  cursor: pointer;
  list-style-type: none;
}
.navigation .nav__li .nav__li:hover {
  background: #f5edff;
}
.navigation .nav__li .fa-mobile-alt:before {
  content: "";
  padding-right: 2em;
  padding-left: 1em;
  color: grey;
}
.navigation .nav__li .fa-mobile-alt:before .fa-mobile-alt:before:hover {
  color: #9356DC;
}
.navigation .nav__li .fa-list-ul:before {
  content: "";
  padding-right: 2em;
  padding-left: 1em;
  color: grey;
}
.navigation .nav__li .fa-list-ul:before .fa-list-ul:before {
  color: #9356DC;
}
.navigation .nav__li .fa-store:before {
  content: "";
  padding-right: 2em;
  padding-left: 1em;
  color: grey;
}
.navigation .nav__li .fa-store:before .fa-store:before {
  color: #9356DC;
}

/*---Restaurants---*/
.restaurants {
  background-color: #f6f6f6;
  margin: 0%;
}
.restaurants__title {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}
.restaurants .card__img {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 1px 1px 5px grey;
  margin: 1.3rem;
}
.restaurants .card__img h3 {
  padding-left: 0.5em;
  margin-top: 11px;
}
.restaurants .card__img img {
  height: 100%;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  object-fit: cover;
}
.restaurants .card__img .card__descri {
  display: flex;
  align-items: stretch;
}
.restaurants .card__img .card__descri p {
  padding-left: 0.5em;
  margin-top: -6px;
  color: #111010;
  flex: 1 1 auto;
}
.restaurants .card__img .card__descri .fa-heart:before {
  padding-right: 1em;
  padding-bottom: 1em;
}
.restaurants .card__img .heart {
  display: flex;
  position: relative;
  opacity: 100%;
  cursor: pointer;
}
.restaurants .card__img .heart .fa-heart__content {
  font-size: 1.7em;
}
.restaurants .card__img .heart .fa-heart__content_empty {
  position: relative;
  right: 3em;
  bottom: 1em;
}
.restaurants .card__img .heart .fa-heart__box {
  position: relative;
  left: 3em;
}
.restaurants .card__img .heart .fa-heart__box:hover > .fa-heart_full {
  opacity: 1;
  transform: scale(1);
}
.restaurants .card__img .heart .fa-heart_full {
  font-size: 0.87em;
  position: relative;
  bottom: 28.5px;
  right: 26px;
  background: -webkit-linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 500ms;
  transform: scale(0);
  transform-origin: bottom;
}

/*----HEADER-----*/
header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header img {
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0.5em;
}
header .fa-arrow-left {
  position: relative;
  right: 7.8em;
  top: 0.8em;
  font-size: 1.3em;
}
header .fa-arrow-left a:visited {
  color: black;
}

.img-menu img {
  text-align: center;
  width: 100%;
}

/*------CARTE-------------*/
.section-menu {
  background-color: #f6f6f6;
  border-radius: 3em 3em 0 0;
  position: relative;
  top: -67px;
}
.section-menu h2 {
  margin: 1em;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 65px;
}
.section-menu h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0.5em;
  padding-left: 1em;
  font-size: 20px;
}
.section-menu h1 .heart {
  display: flex;
  position: relative;
  opacity: 100%;
  cursor: pointer;
}
.section-menu h1 .heart .fa-heart__content {
  font-size: 1em;
}
.section-menu h1 .heart .fa-heart__content_empty {
  position: relative;
  left: 1em;
  bottom: 1.5em;
}
.section-menu h1 .heart .fa-heart__box {
  position: relative;
  left: 11em;
}
.section-menu h1 .heart .fa-heart__box:hover > .fa-heart_full {
  opacity: 1;
  transform: scale(1);
}
.section-menu h1 .heart .fa-heart_full {
  font-size: 0.87em;
  position: relative;
  bottom: 31px;
  left: 43px;
  background: -webkit-linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 500ms;
  transform: scale(0);
  transform-origin: bottom;
}
.section-menu .card-menu {
  background-color: #fff;
  border-radius: 1.5em;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #f3eeee;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.section-menu .card-menu h3 {
  font-size: 1.25em;
  margin: 0em;
}
.section-menu .card-menu .aligne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.section-menu .card-menu .aligne p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #404040;
  font-size: 15px;
}

.commander__btn2 {
  padding-bottom: 4em;
  text-align: center;
  margin-top: 4em;
}

button.btn2 {
  min-height: 2.2rem;
  text-align: center;
  border-radius: 2em 2em 2em 2em;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
