@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.titlefooter {
  font-family: "Shrikhand", cursive;
}

$color-background:#f6f6f6;
$color-footer:#3b3b3b;
$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
@mixin color-degrade{
  background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
}

@mixin footer {
  footer {
    background-color: $color-footer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
  
    .titlefooter {
      font-size: 18px;
    }
    li {
      list-style-type: none;
      padding-top: 0.5em;
    }
    .fa-utensils:before {
      content: "\f2e7";
      padding-right: 1em;
    }
    .fa-hands-helping:before {
      content: "\f4c4";
      padding-right: 0.6em;
    }
  }
  
}


/*----HEADER-----*/

header {
  text-align: center;

  .localisation__heading {
    background-color: #eaeaea;
    padding-top: 1px;
    padding-bottom: 1px;
    
    
    h3{
      padding-top: 1em;
      margin-top: 0em;
      color: $color-footer;
      padding-left: 1em;
    }
    .fa-map-marker-alt:before {
      content: "\f3c5";
      padding-right: 1em;
      color: $color-footer;
   }   
  }

  .header-background {
    background-color: $color-background;
    margin-top: -1.5em;
    
  }
  .title1er {
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .description p {
    color: gray;
  }

  .explorer {
    padding-bottom: 3em;
    padding-top: 1em;
  }

  button.btn {
    min-height: 2.2rem;
    text-align: center;
    border-radius: 2em 2em 2em 2em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    @include color-degrade;
    
  }
}

.navigation {
  padding-top: 2em;
  .title2e {
    padding-left: 1em;
  }
  
  .nav__li {
    display: flex;
    margin: 1em;
    min-height: 2.2rem;
    text-align: center;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    padding-left: 1rem;
    padding-bottom: 12px;
    padding-top: 25px;
    background-color: $color-background;
    border: none;
    box-shadow: 0px 4px 8px lightgrey; 
    cursor: pointer;
    list-style-type: none;
    .fa-mobile-alt:before {
      content: "\f3cd";
      padding-right: 2em;
      padding-left: 1em;
      color: grey;
  }
  .fa-list-ul:before {
      content: "\f0ca";
      padding-right: 2em;
      padding-left: 1em;
      color: grey;
  }
  .fa-store:before {
      content: "\f54e";
      padding-right: 2em;
      padding-left: 1em;
      color: grey;
  }
  }
}

/*---Restaurants---*/

  

.restaurants {
  background-color: $color-background;
  margin: 0%;
  &__title {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }
  .card__img {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 1px 1px 5px grey;
    margin: 1.3rem;
    h3{
      padding-left: 0.5em;
      margin-top: 11px;
    }
    img {
      height: 100%;
      width: 100%;
      border-radius: 1.25rem 1.25rem 0 0;
      object-fit: cover;
    }
    .card__descri{
      display: flex;
      align-items: stretch;
      p{
        padding-left: 0.5em;
        margin-top: -6px;
        color: rgb(17, 16, 16);
        flex: 1 1 auto;
      }
      .fa-heart:before {
        font-size: 26px;
        padding-right: 1em;
        padding-bottom: 1em;
      }
    }
  }
  
}

/*---------FOOTER--------------*/
@include footer;