
/*----HEADER-----*/

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
     img {
         align-items: center;
         justify-content: center;
         position: relative;
         bottom: 0.5em;
     }
     .fa-arrow-left {
         position: relative;
         right: 7.8em;
         top: 0.8em;
         font-size: 1.3em;
         color: black;
         a:visited {
             color: black;
         }
     }
  }

.img-menu img{
    text-align: center;
    width: 100%;
    
}

/*------CARTE-------------*/



.section-menu {
    background-color: $color-background;
    border-radius: 3em 3em 0 0;
    position: relative;
    top: -67px;
    h2{
        color: #404040;
        margin: 1em;
        border-bottom: 3px solid $color-tertiaire ;
        padding-bottom: 5px;
        width: 65px;
        }
    
    h1 {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 0.5em;
        padding-left: 1em;
        font-size: 20px;
        .heart {
            display: flex;
            position: relative;
            opacity: 100%;
            cursor: pointer;
            .fa-heart__content {
                font-size: 1em;
            }
            .fa-heart__content_empty {
                position: relative;
                left: 1em;
                bottom: 1.5em;
            }
            .fa-heart__box {
                position: relative;
                left: 11em;
            }
            .fa-heart__box:hover > .fa-heart_full {
                opacity: 1;
                transform: scale(1);
            }
            .fa-heart_full {
                font-size: 0.87em;
                position: relative;
                bottom: 31px;
                left: 43px; 
                @include color-text-degrade;
                opacity: 0;
                transition: all 500ms;
                transform: scale(0);
                transform-origin: bottom;
            }
            
        }
    }
    .card-menu {
        background-color: #fff;
        border-radius: 1.5em;
        margin: 10px;
        padding: 10px;
        box-shadow: 4px 4px 6px #f3eeee;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: padding-right 450ms ease-in-out;
        h3 {
            font-size: 1.25em;
            margin: 0em;
            
        }
        
      
      .aligne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.5em; }
      
      .aligne p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #404040;
        font-size: 15px; }

    
    }
    
      }
      .commander__btn2{
        padding-bottom: 4em;
        text-align: center;
        margin-top: 4em;
      }
    
