button.btn {
    min-height: 2.2rem;
    text-align: center;
    border-radius: 2em 2em 2em 2em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 1px 1px 5px grey;
    
  }

  button.btn:hover {
    box-shadow: 1px 1px 20px grey;
    
  }


button.btn2 {
  min-height: 2.2rem;
  text-align: center;
  border-radius: 2em 2em 2em 2em;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px grey;
  
}

button.btn2:hover {
  box-shadow: 1px 1px 20px grey;
}