@mixin anim-survol{
    transform: scale(1.02);
    transition-duration: 0.05s;
}
@mixin color-text-degrade{
    background: -webkit-linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.nav__li:hover {
    @include anim-survol
}

.card__img:hover{
    @include anim-survol
}

button:hover {
    @include anim-survol
}

.fa-heart:before:hover {
    @include color-text-degrade;
}

.card-menu {
    
    
}




