
    footer {

      background-color: #3b3b3b;
      padding: 1rem;
      padding-left: 0em;
      color: #ffffff;
      a {
        text-decoration: none;
        color: #ffffff;
      }
      
    
      .titlefooter {
        font-size: 18px;
        margin-left: 1em;
      }

      .footerdescrip {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
      }

      .footericon {
        display: flex;
        flex-direction: row;
      }
      
      .fa-utensils:before {
        content: "\f2e7";
        padding-right: 1em;
      }
      .fa-hands-helping:before {
        content: "\f4c4";
        padding-right: 0.5em;
      }
    }
