 .loader__anim {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100vw;
        background-color: #f5ddf5;
        animation: loader 0.01s;
        animation-delay: 1.72s;
        animation-fill-mode: both; }
      
      .loader__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 120px; }
      
      .loader__piece {
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        animation: rond 2s;
        animation-iteration-count: 1; }
        .loader__piece--a {
          background: $color-secondaire ; }
        .loader__piece--b {
          background: $color-primaire ;
          animation-delay: 0.30s; }
        .loader__piece--c {
          background: $color-tertiaire;
          animation-delay: 0.5s; }
      

      
      @keyframes loader {
        100% {
          opacity: 0;
          z-index: -1; } }
      
      @keyframes rond {
        0% {
          transform: translateY(0); }
        25% {
          transform: translateY(-0.5rem); }
        50% {
          transform: translateY(0); }
        75% {
          transform: translateY(0.5rem); }
        100% {
          transform: translateY(0); } }


    