// Medium devices (tablets, 848px and up)
@media (min-width: 847.98px) and (max-width : 2592.98px) {

    /*------------Home----------*/

    .navigation {
        display: flex;
        flex-direction: row;
        margin-left: -9em;
        .title2e {
            opacity: 0;
        }
      .nav__li {
          width: 50%;
      }  

    }

    
    .resto {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        
        .restaurants__title {
            font-size: 25px;
            padding-bottom: 2em;
            align-self: flex-end;
            margin: 0 auto;
        }
        .card {
            margin: 0 auto;
            width: 100%; 
            display: flex;
            flex-wrap: wrap;
            
        }
         
        
        .card__img {
            width: 20%;
        }

        .nouveau {
            color: #084435;
            background: $color-tertiaire;
            border: 4px solid $color-tertiaire;
            border-radius: 5px;
            position: absolute;

        }

    }



/*-----------------Pages------------------*/
.img-menu {
width: 50%;
margin: 0 auto;

}
.section-menu {
    
    display: flex;
    flex-wrap: wrap;
    border-radius: 0;
    h1 {
        margin: 0 auto;
        width: 200%;
    }
    .entrees {
        margin: 1em 1em 1em 1em;
        width: 25%;
    }
    .plats {
        margin: 1em 1em 1em 1em;
        width: 25%;
    }
    .desserts {
        margin: 1em 1em 1em 1em;
        width: 25%;
    }
}

.commander__btn2 {
    align-self: flex-end;
    margin: 0 auto;
    
    

}

}